<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 col-xl-4">
            <img src="assets/img/validating-card-payment.svg" class="img-fluid w-80" alt="Validando Pago">
            <div class="text-22 fw-500">
                Tu pago se encuentra en proceso de validación.
            </div>
            <div class="text-16 text-muted mt-10" style="text-align: justify;">
                Por motivos de seguridad tu pago está siendo validado. Este proceso puede tomar hasta 48 horas. Regresa a esta pagina más tarde para verificar el estado de tu pago.
                <br>
                Si tienes alguna duda, por favor contacta a nuestro equipo de validación antifraude en cualquiera de nuestros canales de soporte.
            </div>
        </div>
    </div>
</div>