<h1 mat-dialog-title>Asientos Pendientes</h1>
<mat-dialog-content>
    @if(data===1){
        <p>Aún hay un vuelo con <b>asientos pendientes</b> por asignar.</p>
        <p>¿Desea continuar <b>sin asignar</b> los asientos de este vuelo?</p>
    }@else{
        <p>Aún hay {{data}} vuelo{{data > 1 ? 's' : ''}} con <b>asientos pendientes</b> por asignar.</p>
        <p>¿Desea continuar <b>sin asignar</b> los asientos de estos vuelos?</p>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
    <button mat-flat-button [mat-dialog-close]="true" color="primary">Continuar</button>
</mat-dialog-actions>