<div class="d-flex items-center justify-between bg-success-1 pl-30 pr-20 py-30 rounded-8 mt-20">
    <div class="text-success-2 lh-1 fw-500">En Xplora Travel, te ofrecemos la selección de asientos gratis al momento de reservar. Elige el asiento que más te guste, ¡sin pagar más!</div>
</div>
<table class="table-4 w-1/1 mt-30">
    <thead class="bg-light-2">
        <tr>
            <th>Pasajero</th>
            <th>Asiento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Juan Gomez</td>
            <td>4A <a href="#"><mat-icon style="font-size: 14px; width: 14px; height: 14px;">delete</mat-icon></a></td>
        </tr>
        <tr>
            <td>Juan Gomez</td>
            <td style="padding: 8px 30px;"><button mat-flat-button color="primary">Asignar</button></td>
        </tr>
    </tbody>
</table>