<div class="dashboard__sidebar bg-white scroll-bar-1">
    <div class="sidebar -dashboard">
        <div class="sidebar__item">
            <div class="sidebar__button -is-active" [ngClass]="{'-is-active':active==='home'}">
                <a href="/mi-cuenta/inicio" class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/compass.svg" alt="image" class="mr-15">
                    Mi Cuenta
                </a>
            </div>
        </div>
        <div class="sidebar__item">
            <div class="sidebar__button " [ngClass]="{'-is-active':active==='bookings'}">
                <a href="db-booking.html" class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/booking.svg" alt="image" class="mr-15">
                    Historial de Reservas
                </a>
            </div>
        </div>
        <div class="sidebar__item">
            <div class="sidebar__button " [ngClass]="{'-is-active':active==='settings'}">
                <a href="db-settings.html" class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/gear.svg" alt="image" class="mr-15">
                    Preferencias
                </a>
            </div>
        </div>
        <div class="sidebar__item">
            <div class="sidebar__button ">
                <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/log-out.svg" alt="image" class="mr-15">
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </div>
</div>