<div class="dashboard__sidebar bg-white scroll-bar-1">
    <div class="sidebar -dashboard">
        <div class="sidebar__item">
            <a class="sidebar__button" routerLink="/mi-cuenta/inicio" routerLinkActive="-is-active">
                <div class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/compass.svg" alt="image" class="mr-15">
                    Mi Cuenta
                </div>
            </a>
        </div>
        <div class="sidebar__item">
            <a class="sidebar__button " routerLink="/mi-cuenta/reservaciones" routerLinkActive="-is-active">
                <div class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/booking.svg" alt="image" class="mr-15">
                    Historial de Reservas
                </div>
            </a>
        </div>
        <div class="sidebar__item">
            <a class="sidebar__button " routerLink="/mi-cuenta/ajustes/pasajeros" routerLinkActive="-is-active">
                <div class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/bookmark.svg" alt="" class="mr-15">
                    Pasajeros guardados
                </div>
            </a>
        </div>
        <div class="sidebar__item">
            <a class="sidebar__button " routerLink="/mi-cuenta/ajustes/perfil" routerLinkActive="-is-active">
                <div class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/gear.svg" alt="image" class="mr-15">
                    Preferencias
                </div>
            </a>
        </div>
        <div class="sidebar__item">
            <div class="sidebar__button ">
                <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
                    <img src="assets/img/dashboard/sidebar/log-out.svg" alt="image" class="mr-15">
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </div>
</div>
