<div class="row">
    <div class="col-md-4">
        @if(booking.type==='FLIGHT'&&booking.flightDetails){
            @if(booking.flightDetails.round){
                <div class="row">
                    <div class="row y-gap-20 justify-center">
                        <div class="col-6 text-right">
                            <div style="width: 100%; height: 65px; display: flex; justify-content: flex-end; align-items: center;">
                                <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/' + (booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments[0].carrierCode) + '.svg'" style="max-height: 65px;">
                            </div>
                            <div class="lh-17 fw-500">
                                <span class="destination-label">{{booking.flightDetails.origin.address.cityName | location:booking.flightDetails.origin.id}}</span>
                                <span class="destination-label">{{booking.flightDetails.destination.address.cityName | location:booking.flightDetails.destination.id}}</span>
                            </div>
                            @if(booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length === 1){
                                <div class="text-14 lh-15 mt-5">Directo</div>
                            }@else{
                                <div class="text-14 lh-15 mt-5">
                                    {{ (booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length - 1) }}
                                    Escala{{ booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length > 2 ? 's' : '' }}
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <div style="width: 100%; height: 65px; display: flex; justify-content: flex-start; align-items: center;">
                                <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/' + (booking.flightDetails.flights.inbound!.offer!.itineraries[0].segments[0].carrierCode) + '.svg'" style="max-height: 65px;">
                            </div>
                            <div class="lh-17 fw-500">
                                <span class="destination-label">{{booking.flightDetails.destination.address.cityName | location:booking.flightDetails.destination.id}}</span>
                                <span class="destination-label">{{booking.flightDetails.origin.address.cityName | location:booking.flightDetails.origin.id}}</span>
                            </div>
                            @if(booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length === 1){
                                <div class="text-14 lh-15 mt-5">Directo</div>
                            }@else{
                                <div class="text-14 lh-15 mt-5">
                                    {{ (booking.flightDetails.flights.inbound!.offer!.itineraries[0].segments.length - 1) }}
                                    Escala{{ booking.flightDetails.flights.inbound!.offer!.itineraries[0].segments.length > 2 ? 's' : '' }}
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }@else{
                <div class="row y-gap-20">
                    <div class="col-12">
                        <div style="width: 100%; height: 65px; display: flex; justify-content: flex-start; align-items: center;">
                            <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/' + (booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments[0].carrierCode) + '.svg'" style="max-height: 65px;">
                        </div>
                        <div class="lh-17 fw-500">
                            {{booking.flightDetails.origin.address.cityName | location:booking.flightDetails.origin.id }} - {{booking.flightDetails.destination.address.cityName | location:booking.flightDetails.destination.id }}
                        </div>
                        @if(booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length === 1){
                            <div class="text-14 lh-15">
                                Directo ({{booking.flightDetails.flights.outbound!.offer!.itineraries[0].duration | duration}})
                            </div>
                        }@else{
                            <div class="text-14 lh-15">
                                {{ (booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length - 1) }}
                                Escala{{ booking.flightDetails.flights.outbound!.offer!.itineraries[0].segments.length > 2 ? 's' : '' }}
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        @if(booking.type==='FLIGHT'&&booking.flightDetails){
            <div>
                <div class="d-flex items-center justify-between">
                    <div class="text-16 fw-500 lh-18">Pasajeros</div>
                    <div class="text-16 lh-18">
                        {{getPassengersText(booking.flightDetails!.passengers!.counts!)}}
                    </div>
                </div>
                <div class="d-flex items-center justify-between">
                    <div class="text-16 fw-500 lh-18">Total a pagar</div>
                    <div class="text-16 lh-18">{{booking.payment!.totalDue|currency:'MXN'}}</div>
                </div>
                <div class="d-flex items-center justify-between">
                    <div class="text-16 fw-500 lh-18">Total pagado</div>
                    <div class="text-16 lh-18">{{booking.payment!.payed|currency:'MXN'}}</div>
                </div>
                @if(activePayment){
                    <div class="d-flex items-center justify-between">
                        <div class="text-16 fw-500 lh-18">Tiempo para pagar</div>
                        <div class="text-16 lh-18"><countdown [config]="countdownConfig" /></div>
                    </div>
                }@else{
                    <div class="d-flex items-center justify-between">
                        <div class="text-16 fw-500 lh-18">Limite de Pago</div>
                        <div [ngClass]="{'status-canceled': booking.status === 'CANCELED'}" class="text-16 lh-18">{{booking.payment!.paymentLimit!.toDate()|date:'dd MMM YYYY HH:mm'|titlecase}}</div>
                    </div>
                }
                <div class="d-flex items-center justify-between">
                    <div class="text-16 fw-500 lh-18">Metodo de pago</div>
                    <div class="text-16 lh-18">
                        @switch(booking.payment!.method){
                            @case("SPEI"){
                                SPEI
                            }
                            @case("CASH"){
                                Efectivo
                            }
                            @case("CARD"){
                                Tarjeta
                            }
                        }
                    </div>
                </div>
            </div>
        }@else if(booking.type==='HOTEL'&&booking.hotelDetails){
            <mat-list>
                <div class="mt-0 fw-700 text-center" mat-subheader>Habitaciónes</div>
            </mat-list>

        }
    </div>
    <div class="col-md-4">
        <a [href]="'/confirmacion/' + booking.bookingID" target="_blank" mat-stroked-button color="primary" class="w-100 py-20">
            Ver detalles
        </a>
        <a [href]="'/realizar-pago/' + booking.bookingID" [disabled]="booking.status !== 'PENDING'" mat-stroked-button color="primary" class="w-100 mt-10 py-20">
            Realizar pago
        </a>
        <button [disabled]="booking.status === 'CANCELED'" mat-stroked-button color="warn" class="w-100 mt-10 py-20">
            Cancelar reservación
        </button>
    </div>
</div>