<ng-template #filtersFooter let-close="close">
    <button (click)="close(selectedAmenities)" class="button -md -dark-1 bg-blue-1 text-white w-100">Aplicar filtros</button>
</ng-template>

<app-xplora-bottom-sheet
    title="Filtrar alojamientos"
    subtitle="Personaliza tus resultados"
    [footerTemplate]="filtersFooter">
<div>
    <app-hotel-filters [activeAmenities]="data.activeAmenities" (amenitiesFilter)="updateAmenities($event)" [hotelList]="data.hotelList"></app-hotel-filters>
</div>
</app-xplora-bottom-sheet>
