<ng-template #locationFooter>
  <button (click)="close()" class="button -md -outline-blue-1 text-blue-1 w-100">Cancelar</button>
</ng-template>

<app-xplora-bottom-sheet
  title="Selecciona tu destino"
  subtitle="Descubre experiencias para tu viaje"
  [contentPadding]="false"
  [footerTemplate]="locationFooter">
<div class="px-15 py-15 mat-elevation-z1">
  <div class="form-input">
    <input [formControl]="searchInput" #search type="text" />
    <label class="lh-1 text-16 text-light-1">¿A dónde vamos?</label>
  </div>
</div>

@if (!loading) {
  <cdk-virtual-scroll-viewport itemSize="3" style="height: 280px;">
    @if (locationResults.length === 0) {
      <div class="y-gap-5">
        @for (destination of suggestedDestinations; track destination.iataCode) {
          <div>
            <button (click)="selectSuggested(destination)" class="-link d-block col-12 text-left rounded-4 px-15 py-15">
              <div class="d-flex">
                <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                <div class="ml-10">
                  <div class="text-15 lh-12 fw-500">{{ destination.label | titlecase }}, Mexico</div>
                  <div class="text-14 lh-12 text-light-1 mt-5">Ciudad recomendada</div>
                </div>
              </div>
            </button>
          </div>
        }
      </div>
    } @else {
      <div class="y-gap-5">
        @for (location of locationResults; track location) {
          <div>
            <button (click)="selectLocation(location)" class="-link d-block col-12 text-left rounded-4 px-15 py-15">
              <div class="d-flex">
                <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                <div class="ml-10">
                  <div class="text-15 lh-12 fw-500">{{ location.address.cityName | titlecase }}, {{ location.address.countryName | titlecase }}</div>
                  <div class="text-14 lh-12 text-light-1 mt-5">Ciudad</div>
                </div>
              </div>
            </button>
          </div>
        }
      </div>
    }
  </cdk-virtual-scroll-viewport>
} @else {
  <div style="height: 280px;">
    <div class="d-flex justify-content-center" style="align-items: center; min-height: 100%;">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>
}

</app-xplora-bottom-sheet>
