<section class="pt-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-22 fw-500">Comentarios de los huéspedes</h3>
            </div>
        </div>
        <div class="row y-gap-30 items-center pt-20">
            <div class="col-lg-3">
                <div class="flex-center rounded-4 min-h-250 bg-blue-1-05">
                    <div class="text-center">
                        @if(rating!==null&&rating!==undefined){
                            <div class="text-60 md:text-50 fw-600 text-blue-1">{{rating|number}}</div>
                            <div class="fw-500 lh-1">{{hotelHandler.getRatingDescription(rating)}}</div>
                            @if(reviewsCount!==null&&reviewsCount!==undefined){
                                <div class="text-14 text-light-1 lh-1 mt-5">{{reviewsCount|number}} Valoraciones</div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @if(sentiments){
                    <div class="row y-gap-30">
                        @for(sentiment of displaySentiments; track sentiment){
                            <div class="col-md-4 col-sm-6">
                                <div class="">
                                    <div class="d-flex items-center justify-between">
                                        <div class="text-15 fw-500">{{sentiment.title}}</div>
                                        <div class="text-15 text-light-1">{{sentiment.rating}}</div>
                                    </div>
                                    <div class="progressBar mt-10">
                                        <div class="progressBar__bg bg-blue-2"></div>
                                        <div class="progressBar__bar bg-dark-1" [style.width.%]="sentiment.percentage"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="pt-40">
    <div class="container">
        <div class="row y-gap-60">
            @for(review of reviews; track review){
                <div class="col-lg-6">
                    <div class="row x-gap-20 y-gap-20 items-center">
                        <div class="col-auto">
                            <img style="width: 60px; height: auto;" src="{{review.authorAttribution?.photoURI}}" alt="{{review.authorAttribution?.displayName ?? 'Usuario Desconocido'|titlecase}}">
                        </div>
                        <div class="col-auto">
                            <div class="fw-500 lh-15">{{review.authorAttribution?.displayName ?? 'Usuario Desconocido'|titlecase}}</div>
                            <div class="text-14 text-light-1 lh-15">{{review.publishTime|date:'shortDate'}} - {{review.relativePublishTimeDescription}}</div>
                        </div>
                    </div>
                    <h5 class="fw-500 text-blue-1 mt-20">{{review.rating ?? 5}} <fa-icon class="text-14" [icon]="starIcon"></fa-icon> {{hotelHandler.getRatingDescription(review.rating ?? 5)}}</h5>
                    <p class="text-15 text-dark-1 mt-10">{{review.text}}</p>
                    <div class="d-flex x-gap-30 items-center pt-20">
                        <button class="d-flex items-center text-blue-1">
                            <i class="icon-like text-16 mr-10"></i>
                            Me gusta
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="row pt-30">
            <div class="col-auto">
                <a href="#" class="button -md -outline-blue-1 text-blue-1">
                    @if(reviewsCount!==null && reviewsCount!==undefined){
                        Ver las {{reviewsCount|number}} valoraciones <div class="icon-arrow-top-right ml-15"></div>
                    }@else{
                        Ver todas las valoraciones <div class="icon-arrow-top-right ml-15"></div>
                    }
                </a>
            </div>
        </div>
    </div>
</section>
<section class="pt-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    <div class="col-auto">
                        <h3 class="text-22 fw-500">Dejar un comentario</h3>
                        <p class="text-15 text-dark-1 mt-5">Your email address will not be published.</p>
                    </div>
                </div>
                <div class="row y-gap-30 pt-30">
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Location</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Staff</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Cleanliness</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Value for money</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Comfort</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Facilities</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-15 lh-1 fw-500">Free WiFi</div>
                        <div class="d-flex x-gap-5 items-center pt-10">
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                            <div class="icon-star text-10 text-yellow-1"></div>
                        </div>
                    </div>
                </div>
                <div class="row y-gap-30 pt-20">
                    <div class="col-xl-6">
                        <div class="form-input ">
                            <input type="text" required>
                            <label class="lh-1 text-16 text-light-1">Text</label>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-input ">
                            <input type="text" required>
                            <label class="lh-1 text-16 text-light-1">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-input ">
                            <textarea required rows="4"></textarea>
                            <label class="lh-1 text-16 text-light-1">Write Your Comment</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="button -md -dark-1 bg-blue-1 text-white">
                            Post Comment <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>