<div class="col-12">
    <h3 class="text-22 fw-500">Property highlights</h3>
    <div class="row y-gap-20 pt-30">
        <div class="col-lg-3 col-6">
            <div class="text-center">
                <i class="icon-city text-24 text-blue-1"></i>
                <div class="text-15 lh-1 mt-10">In London City Centre</div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="text-center">
                <i class="icon-airplane text-24 text-blue-1"></i>
                <div class="text-15 lh-1 mt-10">Airport transfer</div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="text-center">
                <i class="icon-bell-ring text-24 text-blue-1"></i>
                <div class="text-15 lh-1 mt-10">Front desk [24-hour]</div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="text-center">
                <i class="icon-tv text-24 text-blue-1"></i>
                <div class="text-15 lh-1 mt-10">Premium TV channels</div>
            </div>
        </div>
    </div>
</div>