<div class="px-30 py-30 border-light rounded-4 shadow-4">
    @if(minPrice>0){
        <div class="d-flex items-center justify-between pb-30">
            <div class="">
                <span class="text-14 text-light-1 ml-5 mb-0">Desde</span><br>
                <span class="text-20 fw-500" style="line-height: 0 !important;">{{minPrice |currency:'MXN'}}</span>
            </div>
            <div class="d-flex items-center">
                <div class="text-14 text-right mr-10">
                    <div class="lh-15 fw-500">Tarifa Final</div>
                    <div class="lh-15 text-light-1">Incluye Impuestos</div>
                </div>
                <div class="size-40 flex-center bg-blue-1 rounded-4">
                    <div class="text-14 fw-600 text-white d-flex align-items-center">
                        <mat-icon>verified</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row y-gap-20">
        <div class="col-12">
            <div class="searchMenu-date px-20 py-10 border-light rounded-4 -right js-form-dd js-calendar">
                <div (click)="openHotelDateSelection()">
                    <h4 class="text-15 fw-500 ls-2 lh-16">Entrada - Salida</h4>

                    <div class="text-15 text-light-1 ls-2 lh-16" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <span class="js-first-date">{{checkIn|date:'mediumDate'}}</span>
                        -
                        <span class="js-last-date">{{checkOut|date:'mediumDate'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="searchMenu-guests px-20 py-10 border-light rounded-4 js-form-dd js-form-counters">
                <div (click)="openRoomSelector()">
                    <h4 class="text-15 fw-500 ls-2 lh-16">Huespedes</h4>
                    @if(true){
                        <div class="text-15 text-light-1 ls-2 lh-16">
                            <span class="js-count-adult">{{roomSummary.adults}}</span> Adulto{{roomSummary.adults > 1 ? 's' : ''}}
                            -
                            <span class="js-count-child">{{roomSummary.children}}</span> Menor{{roomSummary.children === 1 ? '':'es'}}
                            -
                            <span class="js-count-room">{{roomSummary.rooms}}</span> {{roomSummary.rooms > 1 ? 'Habitaciones' : 'Habitación'}}
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12">
            <button (click)="makeSearch()" class="button -dark-1 px-35 h-60 col-12 bg-blue-1 text-white">
            Verificar Disponibilidad
            </button>
        </div>
    </div>
</div>