<section appScrollReveal data-anim="fade" class="d-flex items-center py-15 border-top-light">
    <div class="container">
        <div class="row y-gap-10 items-center justify-between">
            <div class="col-auto">
                <div class="row x-gap-10 y-gap-5 items-center text-14 text-light-1">
                    <div class="col-auto">
                        <div class="">Xplora Travel</div>
                    </div>
                    <div class="col-auto">
                        <div class="">></div>
                    </div>
                    <div class="col-auto">
                        <div class="">Inicio</div>
                    </div>
                    <div class="col-auto">
                        <div class="">></div>
                    </div>
                    <div class="col-auto">
                        <div class="text-dark-1">Blog</div>
                    </div>
                </div>
            </div>

            <div class="col-auto d-none d-md-block">
                <a href="#" class="text-14 text-light-1">Historias, consejos e inspiración para tu próxima aventura</a>
            </div>
        </div>
    </div>
</section>
<section appScrollReveal data-anim-wrap class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div appScrollReveal data-anim-child="slide-up delay-1" class="row justify-center text-center">
            <div class="col-auto">
                <div class="sectionTitle -md">
                    <h2 class="sectionTitle__title">Bitácora Xplora</h2>
                    <p class=" sectionTitle__text mt-5 sm:mt-0">Descubre, Sueña y Viaja: Tu Bitácora Digital de Aventuras con Xplora Travel.</p>
                </div>
            </div>
        </div>
        <div appScrollReveal data-anim-child="slide-up delay-2" class="tabs -pills-3 pt-30 js-tabs">
            <div class="row y-gap-30">
                @for(post of posts; track $index){
                    <div class="col-lg-4 col-sm-6">
                        <a [href]="'/blog/'+post.id" class="blogCard -type-1 d-block ">
                            <div class="blogCard__image">
                                <div class="ratio ratio-4:3 rounded-8">
                                    <img class="img-ratio js-lazy" [src]="post.featuredMediaUrl" alt="image">
                                </div>
                            </div>
                            <div class="pt-20">
                                <h4 class="text-dark-1 text-18 fw-500">{{post.title}}</h4>
                                <div class="text-light-1 text-15 lh-14 mt-5">{{post.date}}</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>