<div class="sidebar -dashboard">
    <div class="sidebar__item">
        <div class="sidebar__button -is-active" [ngClass]="{'-is-active':active==='dashboard'}">
            <a href="/admin/dashboard" class="d-flex items-center text-15 lh-1 fw-500">
                <img src="assets/img/dashboard/sidebar/compass.svg" alt="image" class="mr-15">
                Mi Cuenta
            </a>
        </div>
    </div>
    <div class="sidebar__item">
        <div class="sidebar__button " [ngClass]="{'-is-active':active==='bookings'}">
            <a href="/admin/bookings" class="d-flex items-center text-15 lh-1 fw-500">
                <img src="assets/img/dashboard/sidebar/booking.svg" alt="image" class="mr-15">
                Historial de Reservas
            </a>
        </div>
    </div>
    <div class="sidebar__item">
        <div class="sidebar__button " [ngClass]="{'-is-active':active==='lite-vouchers'}">
            <a href="/admin/lite-vouchers" class="d-flex items-center text-15 lh-1 fw-500">
                <img src="assets/img/dashboard/sidebar/gear.svg" alt="image" class="mr-15">
                Configuraciones
            </a>
        </div>
    </div>
    <div class="sidebar__item">
        <div class="sidebar__button ">
            <a (click)="logout" class="d-flex items-center text-15 lh-1 fw-500">
                <img src="assets/img/dashboard/sidebar/log-out.svg" alt="image" class="mr-15">
                Cerrar Sesión
            </a>
        </div>
    </div>
</div>