.bookings-accordion{
    flex: 1;
}
.bookings-accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.status-indicator.status-pending{
    color: orange;
}
.status-indicator.status-confirmed{
    color: green;
}
.status-indicator.status-canceled{
    color: red;
}
.status-label{
    font-weight: bold;
    margin-left: 5px;
}
.status-indicator{
    white-space: nowrap;
}