<div class="px-30 py-30 border-light rounded-4 mt-30">
    <div class="flex-center ratio ratio-15:9 mb-15 js-lazy">
        <img [src]="gMaps.getStaticMapUrl(lat, lng, 14, 300, 180)" alt="Location Map" class="rounded-4">
    </div>
    <div class="row y-gap-10">
        <div class="col-12">
            <div class="d-flex items-center">
                <mat-icon style="min-width: 20px;" class="text-blue-1">place</mat-icon>
                <div class="text-14 fw-500 ml-10">{{address}}</div>
            </div>
        </div>
    </div>
    <div class="border-top-light mt-15 mb-15"></div>
    <div class="text-15 fw-500">Información sobre el alojamiento</div>
    <div class="d-flex justify-between pt-10">
        <div class="text-14">¿Se admiten mascotas?</div>
        <div class="text-14 text-light-1">{{petsAllowed?'Si':'No'}}</div>
    </div>
    @if(times){
        <div class="d-flex justify-between pt-10">
            <div class="text-14">Hora de Check-In</div>
            @if(times.checkinEnd){
                <div class="text-14 text-light-1">{{times.checkinStart}} - {{times.checkinEnd}}</div>
            }@else{
                <div class="text-14 text-light-1">{{times.checkin}}</div>
            }
        </div>
        <div class="d-flex justify-between pt-10">
            <div class="text-14">Hora de Check-Out</div>
            <div class="text-14 text-light-1">{{times.checkout}}</div>
        </div>
    }
    @if(importantInfo){
        <div class="pt-10">
            <div class="text-14">Información Importante:</div>
            <div class="text-14 text-light-1 w-100 important-info" [ngClass]="{'show-more': showMoreInfo, 'show-less': !showMoreInfo}" [innerHtml]="importantInfo"></div>
            @if(importantInfo.length > 200){
                <div class="text-14 w-100">
                    <a (click)="showMoreInfo = !showMoreInfo" class="text-blue-1 underline text-center">
                        {{showMoreInfo ? 'Ver menos' : 'Ver más'}}
                    </a>
                </div>
            }
        </div>
    }

</div>