<div class="px-30 py-30 border-light rounded-4 mt-30">
    <div class="flex-center ratio ratio-15:9 mb-15 js-lazy" data-bg="img/general/map.png">
        <button data-x-click="mapFilter" class="button py-15 px-24 -blue-1 bg-white text-dark-1 absolute">
            <i class="icon-location text-22 mr-10"></i>
            Show on map
        </button>
    </div>
    <div class="row y-gap-10">
        <div class="col-12">
            <div class="d-flex items-center">
                <i class="icon-award text-20 text-blue-1"></i>
                <div class="text-14 fw-500 ml-10">Exceptional location - Inside city center</div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex items-center">
                <i class="icon-pedestrian text-20 text-blue-1"></i>
                <div class="text-14 fw-500 ml-10">Exceptional for walking</div>
            </div>
        </div>
    </div>
    <div class="border-top-light mt-15 mb-15"></div>
    <div class="text-15 fw-500">Popular landmarks</div>
    <div class="d-flex justify-between pt-10">
        <div class="text-14">Royal Pump Room Museum</div>
        <div class="text-14 text-light-1">0.1 km</div>
    </div>
    <div class="d-flex justify-between pt-5">
        <div class="text-14">Harrogate Turkish Baths</div>
        <div class="text-14 text-light-1">0.1 km</div>
    </div>
    <a href="#" class="d-block text-14 fw-500 underline text-blue-1 mt-10">Show More</a>
</div>