<ng-template #filterFooter>
  <div class="filter-sheet__footer">
    <button (click)="close()" class="button -md -outline-blue-1 text-blue-1">Cancelar</button>
    <button (click)="filter()" class="button -md -dark-1 bg-blue-1 text-white">
      Ver {{estimatedResults ?? 0}} vuelos
    </button>
  </div>
</ng-template>

<app-xplora-bottom-sheet
  title="Filtrar vuelos"
  subtitle="Personaliza tus resultados"
  closeLabel="Cerrar filtros"
  [contentPadding]="false"
  [footerPadding]="false"
  [footerTemplate]="filterFooter">
  <div class="filter-sheet__content">
    <app-flight-filters [bottomSheet]="true" (updateFilterValue)="updateFilterValue($event)"></app-flight-filters>
  </div>
</app-xplora-bottom-sheet>
