<div class="tabs__pane -tab-item-3">
    <div class="col-xl-9">
        <div class="row x-gap-20 y-gap-20">
            <div class="col-12">
                <div class="form-input">
                    <input type="text" required>
                    <label class="lh-1 text-16 text-light-1">Current Password</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-input">
                    <input type="text" required>
                    <label class="lh-1 text-16 text-light-1">New Password</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-input">
                    <input type="text" required>
                    <label class="lh-1 text-16 text-light-1">New Password Again</label>
                </div>
            </div>
            <div class="col-12">
                <div class="row x-gap-10 y-gap-10">
                    <div class="col-auto">
                        <a href="#" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
                            Save Changes <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                    </div>
                    <div class="col-auto">
                        <button class="button h-50 px-24 -blue-1 bg-blue-1-05 text-blue-1">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
