<section class="layout-pt-lg layout-pb-lg bg-blue-2">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
                    <div class="row y-gap-20">
                        <div class="col-12">
                            <h1 class="text-22 fw-500">Ingresa a tu cuenta</h1>
                            <p class="mt-10">¿Aún no tienes una cuenta? <a href="#" class="text-blue-1">Crea una gratis</a></p>
                        </div>
                        <div class="col-12">
                            <div class="form-input">
                                <input type="text" required>
                                <label class="lh-1 text-14 text-light-1">Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-input">
                                <input type="password" required>
                                <label class="lh-1 text-14 text-light-1">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="#" class="text-14 fw-500 text-blue-1 underline">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="col-12">
                            <a href="#" class="button py-20 -dark-1 bg-blue-1 text-white">
                                Iniciar Sesión <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                        </div>
                    </div>
                    <div class="row y-gap-20 pt-30">
                        <div class="col-12">
                            <div class="text-center">O entrar con</div>
                            <button (click)="phoneLogin()" class="button col-12 -outline-blue-1 text-blue-1 py-15 rounded-8 mt-10">
                                <fa-icon [icon]="mobileIcon" class="text-15 mr-10"></fa-icon>
                                Teléfono (SMS)
                            </button>
                            <button (click)="googleLogin()" class="button col-12 -outline-red-1 text-red-1 py-15 rounded-8 mt-15">
                                <fa-icon [icon]="googleIcon" class="text-15 mr-10"></fa-icon>
                                Google
                            </button>
                            <button (click)="anonLogin()" class="button col-12 -outline-dark-2 text-dark-2 py-15 rounded-8 mt-15">
                                <fa-icon [icon]="anonIcon" class="text-15 mr-10"></fa-icon>
                                Anónimo (sin cuenta)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>