@if(confirmationLoader){
    <app-booking-creation-loader
        [bookingId]="bookingID!"
        (completed)="completeLoader()"
        [cashPaymentTime]="43200"
        [speiPaymentTime]="speiPaymentTimeSeconds"
        [steps]="confirmationLoaderSteps"
        [paymentMethod]="paymentMethod"
        [paymentType]="paymentMethod === 'DEFERRED' ? 'DELAYED' : 'NOW'">
    </app-booking-creation-loader>
}@else if(booking && flowReady){
    <main class="container booking-layout">
        <div class="row y-gap-24">
            <div class="col-lg-8">
                <router-outlet [routerOutletData]="stepContext"></router-outlet>
            </div>

            <aside class="col-lg-4 booking-summary">
                <app-booking-sidebar (openInsuranceExtra)="openInsuranceFromSidebar()"></app-booking-sidebar>
            </aside>
        </div>
    </main>
}
