.booking-layout {
  margin-top: 38px;
  padding-bottom: 56px;
}

.booking-summary {
  padding-top: 12px;
}

@media (max-width: 991px) {
  .booking-layout {
    margin-top: 24px;
  }

  .booking-summary {
    padding-top: 4px;
  }
}

@media (max-width: 575px) {
  .booking-layout {
    margin-top: 16px;
  }
}
