<div class="preloader js-preloader" [class.-is-hidden]="!(shared.loading|async)">
  <div class="preloader__wrap">
    <div class="preloader__icon">
      <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_41)">
          <path d="M35.69,0h-9.96l-7.89,12.85L9.96,0H0l12.85,18.5L0,37h9.96l6.77-11.03c-.05-.41-.08-.87-.12-1.41l-5.78,3.17v-1.43l5.64-5.23v-.41c-.03-4.33.68-4.63,1.27-4.63s1.3.31,1.33,4.64v.37l5.76,5.29v1.43h0l-5.86-3.21c-.02.49-.05.9-.09,1.29l6.86,11.16h9.96l-12.85-18.5L35.69,0Z" fill="#2b4ba8" />
        </g>

        <defs>
          <clipPath id="clip0_1_41">
            <rect width="36.92" height="36.92" fill="white" transform="translate(0.540039)" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>

  <div class="preloader__title">Xplora Travel</div>
</div>
<main>
  @if(!hideNav){
    <app-nav-header></app-nav-header>
  }
  @if((shared.headerType|async)==='dark'&&shared.headerHeight!==undefined){
    <div [ngStyle]="{'height': (shared.headerHeight|async)+'px'}" style="width: 100%;"></div>
  }
  <router-outlet></router-outlet>
  @if(!hideNav){
    <app-footer></app-footer>
  }
</main>