<section class="layout-pt-md layout-pb-lg">
    <div appScrollReveal data-anim-wrap class="container">
      <div class="row y-gap-20 justify-between">
        <div appScrollReveal data-anim-child="slide-up delay-1" class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 ">
            <div class="d-flex justify-center">
              <img src="/assets/img/featureIcons/1/1.svg" alt="Mejor Precio Garantizado">
            </div>
            <div class="text-center mt-30">
              <h4 class="text-18 fw-500">Mejor Precio Garantizado</h4>
              <p class="text-15 mt-10">Nos comprometemos a ofrecerte siempre la tarifa más baja del mercado. Si encuentras un precio más bajo para la misma reservación, lo igualamos y te ofrecemos beneficios adicionales.</p>
            </div>
          </div>
        </div>
        <div appScrollReveal data-anim-child="slide-up delay-2" class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 ">
            <div class="d-flex justify-center">
              <img src="/assets/img/featureIcons/1/2.svg" alt="Reserva Simple, Eficiente y Segura">
            </div>
            <div class="text-center mt-30">
              <h4 class="text-18 fw-500">Reserva Simple, Eficiente y Segura</h4>
              <p class="text-15 mt-10">Nuestra plataforma intuitiva te permite reservar tu vuelo u hotel en pocos clics, asegurando una experiencia fácil, rápida y sin complicaciones.</p>
            </div>
          </div>
        </div>
        <div appScrollReveal data-anim-child="slide-up delay-3" class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 ">
            <div class="d-flex justify-center">
              <img src="/assets/img/featureIcons/1/3.svg" alt="Atención Prioritaria Siempre Disponible">
            </div>
            <div class="text-center mt-30">
              <h4 class="text-18 fw-500">Atención Prioritaria Siempre Disponible</h4>
              <p class="text-15 mt-10">Contamos con un equipo especializado que te brinda atención prioritaria todos los días, las 24 horas. Sin importar tu ubicación, estaremos listos para asistirte inmediatamente con soluciones efectivas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>