<div class="container mt-40">
    <div class="row">
        <div class="col-xl-7 col-lg-8">
            @if(booking!==undefined){
                @if(booking.payment){
                    @if(booking.payment.method==='SPEI'){
                        <app-spei-payment [booking]="booking"></app-spei-payment>
                    }
                }
            }
        </div>
        <div class="col-xl-5 col-lg-4 pt-20">
            @if(booking!==undefined){
                
            }
        </div>
    </div>
</div>