<div class="container pt-40" [ngStyle]="{'min-height': 'calc(100vh - ' + (sharedService.headerHeight | async) + 'px)'}">
    <div class="row">
        <div class="col-xl-7 col-lg-8 pb-20">
            @if(booking!==undefined){
                @if(booking.payment){
                    @if(booking.payment.method==='SPEI'){
                        <app-spei-payment [booking]="booking"></app-spei-payment>
                    }@else if(booking.payment.method==='CASH'){
                        <app-cash-payment [booking]="booking"></app-cash-payment>
                    }@else if(booking.payment.method==='CARD'){
                        <app-card-payment [booking]="booking"></app-card-payment>
                    }
                }
            }
        </div>
        <div class="col-xl-5 col-lg-4">
            @if(booking!==undefined){
                @if(booking.payment&&booking.payment.method!=='CARD'){
                    <app-upload-payment-receipt [paymentMethod]="booking.payment!.method" [total]="booking.payment!.totalDue" [bookingID]="booking.bookingID!"></app-upload-payment-receipt>
                }@else{
                    <app-card-transaction-list [payed]="booking.payment!.payed" [total]="booking.payment!.totalDue" [bookingId]="booking.bookingID!"></app-card-transaction-list>
                }
            }
        </div>
    </div>
</div>