<section class="py-10 d-flex items-center bg-light-2">
    <div class="container">
        <div class="row y-gap-10 items-center justify-between">
            <div class="col-auto">
                <div class="row x-gap-10 y-gap-5 items-center text-14 text-light-1">
                    <div class="col-2 col-md-auto">
                        <div style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;">Inicio</div>
                    </div>
                    <div class="col-1 col-md-auto">
                        <div style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;">></div>
                    </div>
                    <div class="col-4 col-md-auto">
                        <div style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;">Hoteles en {{hotel.city}}</div>
                    </div>
                    <div class="col-1 col-md-auto">
                        <div style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;">></div>
                    </div>
                    <div class="col-4 col-md-auto">
                        <div style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;" class="text-dark-1">{{hotel.name}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-auto">
                <a href="#" class="text-14 text-blue-1 underline">Todos los hoteles en {{hotel.city}}</a>
            </div> -->
        </div>
    </div>
</section>