<header data-add-bg="" class="header -dashboard bg-white js-header" data-x="header" data-x-toggle="is-menu-opened">
    <div appScrollReveal data-anim="fade" class="header__container px-30 sm:px-20">
        <div class="-left-side">
            <a href="index.html" class="header-logo" data-x="header-logo" data-x-toggle="is-logo-dark">
                <img src="assets/img/general/logo-light.svg" alt="logo icon">
                <img src="assets/img/general/logo-dark.svg" alt="logo icon">
            </a>
        </div>
        <div class="row justify-between items-center pl-60 lg:pl-20">
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
                        <div class="mobile-overlay"></div>
                        <div class="header-menu__content">
                            <div class="mobile-bg js-mobile-bg">
                            </div>
                            <div class="menu js-navList">
                                <ul class="menu__nav text-dark-1 fw-500 -is-active">
                                    @for(menuItem of menuItems; track menuItem){
                                        @if(menuItem.children!==undefined){
                                            <li class="menu-item-has-children">
                                                @switch(menuItem.tipoEnlace){
                                                    @case("interno"){
                                                        <a [href]="'/'+menuItem.route">
                                                            <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                                            <i class="icon icon-chevron-sm-down"></i>
                                                        </a>
                                                    }
                                                    @case("externo"){
                                                        <a [href]="menuItem.url">
                                                            <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                                            <i class="icon icon-chevron-sm-down"></i>
                                                        </a>
                                                    }
                                                    @case("pagina"){
                                                        <a [href]="'/pagina/'+menuItem.page._ref">
                                                            <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                                            <i class="icon icon-chevron-sm-down"></i>
                                                        </a>
                                                    }
                                                }
                                                <ul class="subnav">
                                                    <li>
                                                        @for(childrenItem of menuItem.children; track childrenItem){
                                                            @switch(childrenItem.tipoEnlace){
                                                                @case("interno"){
                                                                <a [href]="'/'+menuItem.route">
                                                                    {{childrenItem.name|titlecase}}
                                                                </a>
                                                                }
                                                                @case("externo"){
                                                                <a [href]="childrenItem.url">
                                                                    {{childrenItem.name|titlecase}}
                                                                </a>
                                                                }
                                                                @case("pagina"){
                                                                <a [href]="'/pagina/'+childrenItem.page._ref">
                                                                    {{childrenItem.name|titlecase}}
                                                                </a>
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </li>
                                            }@else{
                                            <li>
                                                @switch(menuItem.tipoEnlace){
                                                    @case("interno"){
                                                    <a [href]="'/'+menuItem.route">
                                                        {{menuItem.name|titlecase}}
                                                    </a>
                                                    }
                                                    @case("externo"){
                                                    <a [href]="menuItem.url">
                                                        {{menuItem.name|titlecase}}
                                                    </a>
                                                    }
                                                    @case("pagina"){
                                                    <a [href]="'/pagina/'+menuItem.page._ref">
                                                        {{menuItem.name|titlecase}}
                                                    </a>
                                                    }
                                                }
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                            </div>
                        </div>
                    </div>


                    <div class="row items-center x-gap-5 y-gap-20 pl-20 lg:d-none">
                    <div class="col-auto">
                        <button class="button -blue-1-05 size-50 rounded-22 flex-center">
                        <i class="icon-email-2 text-20"></i>
                        </button>
                    </div>

                    <div class="col-auto">
                        <button class="button -blue-1-05 size-50 rounded-22 flex-center">
                        <i class="icon-notification text-20"></i>
                        </button>
                    </div>
                    </div>

                    <div class="pl-15">
                    <img src="img/avatars/3.png" alt="image" class="size-50 rounded-22 object-cover">
                    </div>

                    <div class="d-none xl:d-flex x-gap-20 items-center pl-20" data-x="header-mobile-icons" data-x-toggle="text-white">
                    <div><button class="d-flex items-center icon-menu text-20" data-x-click="html, header, header-logo, header-mobile-icons, mobile-menu"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>