@if(booking){
<div class="ml-20 md:ml-0">
    <div class="px-30 py-30 border-light rounded-4">
        <div class="text-20 fw-500 mb-30">Detalles de tu reservación</div>
        @if(booking.round){
        <div class="row y-gap-20 justify-center">
            <div class="col-6 text-right">
                <div style="width: 100%; height: 65px; display: flex; justify-content: flex-end; align-items: center;">
                    <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/'+(booking.flights.outbound!.offer!.itineraries[0].segments[0].carrierCode)+'.svg'" style="max-height: 65px;">
                </div>
                <div class="lh-17 fw-500">
                    {{booking.origin.address.cityName|titlecase}}<br>{{booking.destination.address.cityName|titlecase}}
                </div>
                @if(booking.flights.outbound!.offer!.itineraries[0].segments.length===1){
                    <div class="text-14 lh-15 mt-5">Directo</div>
                }@else{
                    <div class="text-14 lh-15 mt-5">
                        {{(booking.flights.outbound!.offer!.itineraries[0].segments.length-1)}}
                        Escala{{booking.flights.outbound!.offer!.itineraries[0].segments.length>2?'s':''}}
                    </div>
                }
                <div class="row x-gap-10 y-gap-10 items-center pt-10" style="float: right">
                    <div class="col-auto">
                        <div class="d-flex items-center" style="justify-content: flex-end;">
                            @switch(booking.flights.outbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                @case("ECONOMY"){
                                <div class="text-14 fw-500 mr-10">Economica</div>
                                }
                                @case("PREMIUM_ECONOMY"){
                                <div class="text-14 fw-500 mr-10">Preferente</div>
                                }
                                @case("BUSINESS"){
                                <div class="text-14 fw-500 mr-10">Ejecutiva</div>
                                }
                                @case("FIRST"){
                                <div class="text-14 fw-500 mr-10">Primera</div>
                                }
                            }
                            <div class="size-30 flex-center bg-blue-1 rounded-4">
                                <div class="text-12 fw-600 text-white d-flex">
                                    @switch(booking.flights.outbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                        @case("ECONOMY"){
                                            <mat-icon class="flight-class-icon">savings</mat-icon>
                                        }
                                        @case("PREMIUM_ECONOMY"){
                                            <mat-icon class="flight-class-icon">airline_seat_recline_extra</mat-icon>
                                        }
                                        @case("BUSINESS"){
                                            <mat-icon class="flight-class-icon">business_center</mat-icon>
                                        }
                                        @case("FIRST"){
                                            <mat-icon class="flight-class-icon">diamond</mat-icon>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="width: 100%; height: 65px; display: flex; justify-content: flex-start; align-items: center;">
                    <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/'+(booking.flights.inbound!.offer!.itineraries[0].segments[0].carrierCode)+'.svg'" style="max-height: 65px;">
                </div>
                <div class="lh-17 fw-500">
                    {{booking.destination.address.cityName|titlecase}}<br>{{booking.origin.address.cityName|titlecase}}
                </div>
                @if(booking.flights.outbound!.offer!.itineraries[0].segments.length===1){
                <div class="text-14 lh-15 mt-5">Directo</div>
                }@else{
                <div class="text-14 lh-15 mt-5">{{(booking.flights.inbound!.offer!.itineraries[0].segments.length-1)}}
                    Escala{{booking.flights.inbound!.offer!.itineraries[0].segments.length>2?'s':''}}</div>
                }
                <div class="row x-gap-10 y-gap-10 items-center pt-10">
                    <div class="col-auto">
                        <div class="d-flex items-center">
                            <div class="size-30 flex-center bg-blue-1 rounded-4">
                                <div class="text-12 fw-600 text-white d-flex">
                                    @switch(booking.flights.inbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                        @case("ECONOMY"){
                                            <mat-icon class="flight-class-icon">savings</mat-icon>
                                        }
                                        @case("PREMIUM_ECONOMY"){
                                            <mat-icon class="flight-class-icon">airline_seat_recline_extra</mat-icon>
                                        }
                                        @case("BUSINESS"){
                                            <mat-icon class="flight-class-icon">business_center</mat-icon>
                                        }
                                        @case("FIRST"){
                                            <mat-icon class="flight-class-icon">diamond</mat-icon>
                                        }
                                    }
                                </div>
                            </div>
                            @switch(booking.flights.inbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                @case("ECONOMY"){
                                <div class="text-14 fw-500 ml-10">Economica</div>
                                }
                                @case("PREMIUM_ECONOMY"){
                                <div class="text-14 fw-500 ml-10">Preferente</div>
                                }
                                @case("BUSINESS"){
                                <div class="text-14 fw-500 ml-10">Ejecutiva</div>
                                }
                                @case("FIRST"){
                                <div class="text-14 fw-500 ml-10">Primera</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }@else{
        <div class="row y-gap-20">
            <div class="col-12">
                <div class="mb-10" style="width: 100%; height: 65px; display: flex; justify-content: flex-start; align-items: center;">
                    <img [src]="'https://assets.duffel.com/img/airlines/for-light-background/full-color-lockup/'+(booking.flights.outbound!.offer!.itineraries[0].segments[0].carrierCode)+'.svg'" style="max-height: 65px;">
                </div>
                <div class="lh-17 fw-500">
                    {{booking.origin.address.cityName|titlecase}} - {{booking.destination.address.cityName|titlecase}}
                </div>
                @if(booking.flights.outbound!.offer!.itineraries[0].segments.length===1){
                <div class="text-14 lh-15 mt-5">Directo
                    ({{booking.flights.outbound!.offer!.itineraries[0].duration|duration}})</div>
                }@else{
                <div class="text-14 lh-15 mt-5">{{(booking.flights.outbound!.offer!.itineraries[0].segments.length-1)}}
                    Escala{{booking.flights.outbound!.offer!.itineraries[0].segments.length>2?'s':''}}</div>
                }
                <div class="row x-gap-10 y-gap-10 items-center pt-10">
                    <div class="col-auto">
                        <div class="d-flex items-center" style="justify-content: flex-end;">
                            <div class="size-30 flex-center bg-blue-1 rounded-4">
                                <div class="text-12 fw-600 text-white d-flex">
                                    @switch(booking.flights.outbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                        @case("ECONOMY"){
                                            <mat-icon class="flight-class-icon">savings</mat-icon>
                                        }
                                        @case("PREMIUM_ECONOMY"){
                                            <mat-icon class="flight-class-icon">airline_seat_recline_extra</mat-icon>
                                        }
                                        @case("BUSINESS"){
                                            <mat-icon class="flight-class-icon">business_center</mat-icon>
                                        }
                                        @case("FIRST"){
                                            <mat-icon class="flight-class-icon">diamond</mat-icon>
                                        }
                                    }
                                </div>
                            </div>
                            @switch(booking.flights.outbound!.offer!.travelerPricings[0].fareDetailsBySegment[0].cabin){
                                @case("ECONOMY"){
                                <div class="text-14 fw-500 ml-10">Economica</div>
                                }
                                @case("PREMIUM_ECONOMY"){
                                <div class="text-14 fw-500 ml-10">Preferente</div>
                                }
                                @case("BUSINESS"){
                                <div class="text-14 fw-500 ml-10">Ejecutiva</div>
                                }
                                @case("FIRST"){
                                <div class="text-14 fw-500 ml-10">Primera</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="border-top-light mt-20 mb-20"></div>
        <div class="row y-gap-20 justify-between">
            <div class="col-auto">
                <div class="text-15">{{booking.round?'Ida':'Fecha de viaje'}}</div>
                <div class="fw-500">{{dates.outbound[0]|date:'mediumDate'|titlecase}}</div>
                @if(booking.round){
                <div class="text-15 text-light-1">{{dates.outbound[0]|date:'H:mm'}} – {{dates.outbound[1]|date:'H:mm'}}
                </div>
                }@else{
                <div class="text-15 text-light-1">{{dates.outbound[0]|date:'h:mm aaa'}} – {{dates.outbound[1]|date:'h:mm
                    aaa'}}</div>
                }
                <div class="text-14 text-light-1">{{booking.flights.outbound!.offer!.itineraries[0].duration|duration}}
                </div>
            </div>
            @if(booking.round){
            <div class="col-auto md:d-none">
                <div class="h-full w-1 bg-border"></div>
            </div>
            <div class="col-auto text-right md:text-left">
                <div class="text-15">Regreso</div>
                <div class="fw-500">{{dates.inbound![0]|date:'mediumDate'|titlecase}}</div>
                <div class="text-15 text-light-1">{{dates.inbound![0]|date:'H:mm'}} – {{dates.inbound![1]|date:'H:mm'}}
                </div>
                <div class="text-14 text-light-1">{{booking.flights.inbound!.offer!.itineraries[0].duration|duration}}
                </div>
            </div>
            }
        </div>

        <div class="border-top-light mt-30 mb-20"></div>

        <div class="row y-gap-20 justify-between items-center">
            <div class="col-auto">
                <div class="text-15">Tu viaje esta protegido:</div>
                @if(activeInsurance>0){
                    <div class="fw-500">Seguro Allianz Travel Premium agregado.</div>
                    <a (click)="openInsuranceExtra.emit()" class="text-15 text-red-1 underline">Eliminar Protección</a>
                }@else{
                    <div class="fw-500">Seguro agregado sin costo.</div>
                    <a (click)="openInsuranceExtra.emit()" class="text-15 text-blue-1 underline">Ampliar Protección</a>
                }
            </div>

            <div class="col-auto">
                @if(activeInsurance>0){
                    <div class="text-15">Cargo adicional: {{activeInsurance|currency:'MXN'}}</div>
                }@else{
                    <div class="text-15">Allianz Travel Basico</div>
                }
            </div>
        </div>
    </div>

    <div class="px-30 py-30 border-light rounded-4 mt-30">
        <div class="text-20 fw-500 mb-20">Resumen de tu tarifa</div>
        @for(charge of flightCharges; track charge;){
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div class="text-15">{{charge.description}} <span class="text-12 fw-400">{{charge.aditional_info}}</span></div>
                </div>
                <div class="col-auto">
                    <div class="text-15">{{charge.amount|currency:'MXN'}}</div>
                </div>
            </div>
        }
        <div class="row y-gap-5 justify-between pt-5">
            <div class="col-auto">
                <div class="text-15">Cargos por servicio</div>
            </div>
            <div class="col-auto">
                <div class="text-15">GRATIS</div>
            </div>
        </div>
        @for(charge of aditionalServiceCharges; track charge;){
            <div class="row y-gap-5 justify-between pt-5">
                <div class="col-auto">
                    <div class="text-15">{{charge.description}}</div>
                </div>
                <div class="col-auto">
                    <div class="text-15">{{charge.amount|currency:'MXN'}}</div>
                </div>
            </div>
        }
        @if(appliedPromo&&discountedAmmount){
        <div class="row y-gap-5 justify-between pt-5">
            <div class="col-auto">
                <div class="text-15">[{{appliedPromo.code}}]
                    @if(appliedPromo.discountType==='percentage'){
                    <span class="text-12 fw-400">-{{appliedPromo.discountAmount}}%</span>
                    }@else{
                    <span class="text-12 fw-400">-{{appliedPromo.discountAmount|currency:'MXN'}}</span>
                    }
                </div>
            </div>
            <div class="col-auto">
                <div class="text-15">-{{discountedAmmount|currency:'MXN'}}</div>
            </div>
        </div>
        }
        <div class="px-20 py-20 bg-blue-2 rounded-4 mt-20">
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div class="text-18 lh-13 fw-500">Total <span class="text-13 fw-400">{{totalPassengers}}
                            Pasajero{{totalPassengers>1?'s':''}}</span></div>
                </div>
                <div class="col-auto">
                    <div class="text-18 lh-13 fw-500">{{grandTotal|currency:'MXN'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-30 py-30 border-light rounded-4 mt-30">
        <div class="text-20 fw-500 mb-20">Tu calendario de pagos</div>
        <div class="row y-gap-5 justify-between">
            <div class="col-auto">
                <div class="text-15">Al momento de reservar pagaras:</div>
            </div>
            <div class="col-auto">
                <div class="text-15">{{grandTotal|currency:'MXN'}}</div>
            </div>
        </div>
    </div>
    <div class="px-30 py-30 border-light rounded-4 mt-30">
        @if(appliedPromo!==undefined){
            <div class="text-20 fw-500 mb-20">Promoción Aplicada</div>
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div class="text-15">Descuento Aplicado:</div>
                </div>
                <div class="col-auto">
                    @if(appliedPromo.discountType==='percentage'){
                        {{appliedPromo.discountAmount}}%
                    }@else{
                        {{appliedPromo.discountAmount|currency:'MXN'}}
                    }
                </div>
            </div>
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div class="text-15">Total Ahorrado:</div>
                </div>
                <div class="col-auto fw-700" style="color: green;">
                    {{discountedAmmount|currency:'MXN'}}
                </div>
            </div>
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div class="text-15">Folio Cupón:</div>
                </div>
                <div class="col-auto">
                    {{appliedPromo.promoID}}
                </div>
            </div>
            <div class="row y-gap-5 justify-between">
                <div class="col-auto">
                    <div style="text-align: justify;" class="text-15 lh-12">{{appliedPromo.description}}</div>
                </div>
            </div>
            <button (click)="removePromo()" class="button -outline-blue-1 text-blue-1 px-30 py-15 mt-20">Desactivar</button>
        }@else{
            <div class="text-20 fw-500 mb-15">Aplicar Promoción</div>
            <mat-form-field class="w-100">
                <mat-label>Código de Promoción</mat-label>
                <input uppercase matInput [disabled]="loadingPromo" placeholder="Código de Promoción" [formControl]="promoControl">
            </mat-form-field>
            <button (click)="getPromo(promoControl.value)" [disabled]="promoControl.invalid||loadingPromo"
            class="button -outline-blue-1 text-blue-1 px-30 py-15 mt-20">Aplicar</button>
        }
    </div>
</div>
}