<ng-template #loginFooter>
    <button (click)="sendSms()" [disabled]="phone.invalid" class="button col-12 -outline-blue-1 text-blue-1 py-15 rounded-8">
        <fa-icon [icon]="sendIcon" class="text-15 mr-10"></fa-icon>
        Enviar código de confirmación
    </button>
</ng-template>

<app-xplora-bottom-sheet title="Iniciar sesión" subtitle="Accede de forma segura con tu teléfono" [footerTemplate]="loginFooter">
<div>
    <mat-form-field subscriptSizing="dynamic" class="w-100 mb-15" appearance="outline">
        <mat-label>País</mat-label>
        <mat-icon matPrefix>language</mat-icon>
        <mat-select [(value)]="country">
            @for(country of countries; track country){
                <mat-option [value]="country.dialCode">{{country.name}} ({{country.code}})</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="w-100" appearance="outline">
        <mat-label>Número de Teléfono</mat-label>
        <span matTextPrefix>+{{country}}</span>
        <mat-icon matTextPrefix></mat-icon>
        <input [formControl]="phone" matInput type="tel" placeholder="10 Dígitos">
    </mat-form-field>
    <div id="recaptcha-container" class="mt-15"></div>
</div>
</app-xplora-bottom-sheet>
