@if(headerType){
  <header #header data-add-bg="bg-dark-1" [ngClass]="{'-dashboard': dashboard,'bg-white': headerType==='white','bg-green': headerType==='light', 'bg-dark-3': headerType==='dark'}" class="header js-header" data-x="header" data-x-toggle="is-menu-opened">
    <div appScrollReveal data-anim="fade" class="header__container px-30 sm:px-20">
      @if(dashboard){
        <div class="-left-side">
          <a href="/inicio" class="header-logo" data-x="header-logo" data-x-toggle="is-logo-dark">
            <img src="assets/img/general/logo-light.svg" alt="Xplora Travel">
            <img src="assets/img/general/logo-dark.svg" alt="Xplora Travel">
          </a>
        </div>
      }
      <div class="row justify-between items-center pl-60 lg:pl-20">
        @if(dashboard){
          <div class="col-auto">
            <div class="d-flex items-center">
              <button (click)="shared.toggleDashboardSidebar()">
                <i class="icon-menu-2 text-20"></i>
              </button>
            </div>
          </div>
        }
        <div class="col-auto">
          <div class="d-flex items-center">
            @if(!dashboard){
              <a href="/inicio" class="header-logo mr-20" data-x="header-logo" data-x-toggle="is-logo-dark">
                <img src="assets/img/general/logo-light.svg" alt="Xplora Travel">
                <img src="assets/img/general/logo-dark.svg" alt="Xplora Travel">
              </a>
            }
            @if(!booking){
              <div class="header-menu" data-x="mobile-menu" data-x-toggle="is-menu-active">
                <div class="mobile-overlay"></div>
                <div class="header-menu__content">
                  <div class="mobile-bg js-mobile-bg"></div>
                  <div class="menu js-navList">
                    <ul class="menu__nav text-white -is-active">
                      @for(menuItem of menuItems; track menuItem){
                        @if(menuItem.children!==undefined){
                          <li class="menu-item-has-children">
                            @switch(menuItem.tipoEnlace){
                              @case("interno"){
                                <a [href]="'/'+menuItem.route">
                                  <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                  <i class="icon icon-chevron-sm-down"></i>
                                </a>
                              }
                              @case("externo"){ 
                                <a [href]="menuItem.url">
                                  <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                  <i class="icon icon-chevron-sm-down"></i>
                                </a>
                              }
                              @case("pagina"){
                                <a [href]="'/pagina/'+menuItem.page">
                                  <span class="mr-10">{{menuItem.name|titlecase}}</span>
                                  <i class="icon icon-chevron-sm-down"></i>
                                </a>
                              }
                            }
                            <ul class="subnav">
                              <li>
                                @for(childrenItem of menuItem.children; track childrenItem){
                                  @switch(childrenItem.tipoEnlace){
                                    @case("interno"){
                                      <a [href]="'/'+menuItem.route">
                                        {{childrenItem.name|titlecase}}
                                      </a>
                                    }
                                    @case("externo"){
                                      <a [href]="childrenItem.url">
                                        {{childrenItem.name|titlecase}}
                                      </a>
                                    }
                                    @case("pagina"){
                                      <a [href]="'/pagina/'+childrenItem.page">
                                        {{childrenItem.name|titlecase}}
                                      </a>
                                    }
                                  }
                                }
                              </li>
                            </ul>
                          </li>
                        }@else{
                        <li>
                          @switch(menuItem.tipoEnlace){
                            @case("interno"){
                              <a [href]="'/'+menuItem.route">
                                {{menuItem.name|titlecase}}
                              </a>
                            }
                            @case("externo"){
                              <a [href]="menuItem.url">
                                {{menuItem.name|titlecase}}
                              </a>
                            }
                            @case("pagina"){
                              <a [href]="'/pagina/'+menuItem.page">
                                {{menuItem.name|titlecase}}
                              </a>
                            }
                          }
                        </li>
                        }
                      }
                    </ul>
                  </div>
                </div>
              </div>
            }
  
          </div>
        </div>
  
  
        <div class="col-auto">
          <div class="d-flex items-center">
  
            <div class="row x-gap-20 items-center xxl:d-none">
              <!-- <div class="col-auto">
                <button class="d-flex items-center text-14 text-white" data-x-click="currency">
                  <span class="js-currencyMenu-mainTitle">USD</span>
                  <i class="icon-chevron-sm-down text-7 ml-10"></i>
                </button>
              </div>
  
              <div class="col-auto">
                <div class="w-1 h-20 bg-white-20"></div>
              </div>
  
              <div class="col-auto">
                <button class="d-flex items-center text-14 text-white" data-x-click="lang">
                  <img src="assets/img/general/lang.png" alt="image" class="rounded-full mr-10">
                  <span class="js-language-mainTitle">United Kingdom</span>
                  <i class="icon-chevron-sm-down text-7 ml-15"></i>
                </button>
              </div> -->
            </div>
  
  
            <div class="d-flex items-center ml-20 is-menu-opened-hide md:d-none">
              @if(!booking){
                <a href="/xplorers" class="button px-30 fw-400 text-14 -white bg-white h-50 text-dark-1">Conviértete en Xperto</a>
              }@else{
                <a (click)="exit()" class="button px-30 fw-400 text-14 -white bg-white h-50 text-dark-1">Salir</a>
              }
              @if(!user){
                <a (click)="login()" class="button px-30 fw-400 text-14 border-white -outline-white h-50 text-white ml-20">Iniciar Sesión / Registrarse</a>
              }@else{
                <a (click)="logout()" class="button px-30 fw-400 text-14 border-white -outline-white h-50 text-white ml-20">{{user.displayName ?? 'Bienvenido'}}</a>
              }
            </div>
  
            <div class="d-none xl:d-flex x-gap-20 items-center pl-30 text-white" data-x="header-mobile-icons" data-x-toggle="text-white">
              @if(!user){
                <div><a (click)="login()" class="d-flex items-center icon-user text-inherit text-22"></a></div>
              }
              @if(!booking){
                <div><button class="d-flex items-center icon-menu text-inherit text-20" data-x-click="html, header, header-logo, header-mobile-icons, mobile-menu"></button></div>
              }@else{
                <div><button (click)="exit()" class="d-flex items-center icon-close text-inherit text-20"></button></div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
}