<div class="singleMenu js-singleMenu">
    <div class="singleMenu__content">
        <div class="container">
            <div class="row y-gap-20 justify-between items-center">
                <div class="col-auto">
                    <div class="singleMenu__links row x-gap-30 y-gap-10">
                        <div class="col-auto">
                            <a href="#overview">Overview</a>
                        </div>
                        <div class="col-auto">
                            <a href="#rooms">Rooms</a>
                        </div>
                        <div class="col-auto">
                            <a href="#reviews">Reviews</a>
                        </div>
                        <div class="col-auto">
                            <a href="#facilities">Facilities</a>
                        </div>
                        <div class="col-auto">
                            <a href="#faq">Faq</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row x-gap-15 y-gap-15 items-center">
                        <div class="col-auto">
                            <div class="text-14">
                            From
                            <span class="text-22 text-dark-1 fw-500">US$72</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
                            Select Room <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>