<section class="layout-pt-lg layout-pb-lg bg-blue-2">
    <div appScrollReveal data-anim-wrap class="container">
      <div class="row y-gap-40 justify-between">
        <div appScrollReveal data-anim-child="slide-up delay-1" class="col-xl-5 col-lg-6">
          <h2 class="text-30">¿Qué opinan nuestros viajeros?</h2>
          <p class="mt-20">En Xplora Travel, la satisfacción de nuestros clientes es lo más importante. Estas son algunas de las experiencias compartidas por quienes han confiado en nosotros para planear sus aventuras.</p>
  
          <div class="row y-gap-30 pt-60 lg:pt-40">
            <div class="col-sm-5 col-6">
              <div class="text-30 lh-15 fw-600">15 Años</div>
              <div class="text-light-1 lh-15">De Experiencia</div>
            </div>
  
            <div class="col-sm-5 col-6">
              <div class="text-30 lh-15 fw-600">{{rating}}</div>
              <div class="text-light-1 lh-15">Calificación general</div>
  
              <div class="d-flex x-gap-5 items-center pt-10">
  
                <div class="icon-star text-blue-1 text-10"></div>
  
                <div class="icon-star text-blue-1 text-10"></div>
  
                <div class="icon-star text-blue-1 text-10"></div>
  
                <div class="icon-star text-blue-1 text-10"></div>
  
                <div class="icon-star text-blue-1 text-10"></div>
  
              </div>
            </div>
          </div>
        </div>
  
        <div appScrollReveal data-anim-child="slide-up delay-2" class="col-lg-6">
          <div class="overflow-hidden js-testimonials-slider-3" data-scrollbar>
            <div class="swiper-wrapper">
              @for(opinion of opinions; track $index){
                <div class="swiper-slide">
                  <div class="row items-center x-gap-30 y-gap-20">
                    <div class="col-auto">
                      <img src="https://ui-avatars.com/api/?background=004aad&color=fff&name={{opinion.nombre}}+{{opinion.apellido}}" alt="image" class="js-lazy">
                    </div>
    
                    <div class="col-auto">
                      <h5 class="text-16 fw-500">{{opinion.nombre}} {{opinion.apellido}}</h5>
                      <div class="text-15 text-light-1 lh-15">{{opinion.servicioContratado}}</div>
                    </div>
                  </div>
    
                  <p class="text-18 fw-500 text-dark-1 mt-30 sm:mt-20">{{opinion.texto}}</p>
                </div>
              }
            </div>
  
            <div class="d-flex items-center mt-60 sm:mt-20 js-testimonials-slider-pag">
              <div class="text-dark-1 fw-500 js-current">01</div>
              <div class="slider-scrollbar bg-border ml-20 mr-20 w-max-300 js-scrollbar"></div>
              <div class="text-dark-1 fw-500 js-all">05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>