<section class="pt-40">
    <div class="container">
        <div class="row x-gap-40 y-gap-30 items-center">
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="size-40 rounded-full flex-center bg-blue-1">
                        <i class="icon-check text-16 text-white"></i>
                    </div>
                    <div class="text-18 fw-500 ml-10">Selecc. Habitación</div>
                </div>
            </div>
            <div class="col">
                <div class="w-full h-1 bg-border"></div>
            </div>
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="size-40 rounded-full flex-center bg-blue-1-05 text-blue-1 fw-500">2</div>
                    <div class="text-18 fw-500 ml-10">Tu Información</div>
                </div>
            </div>
            <div class="col">
                <div class="w-full h-1 bg-border"></div>
            </div>
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="size-40 rounded-full flex-center bg-blue-1-05 text-blue-1 fw-500">3</div>
                    <div class="text-18 fw-500 ml-10">Confirmación</div>
                </div>
            </div>
        </div>
    </div>
</section>