<mat-tab-group>
    <mat-tab label="Vuelos">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <input matInput placeholder="Origen" [formControl]="origin">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <input matInput placeholder="Destino" [(ngModel)]="destination">
                </mat-form-field>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Hoteles">

    </mat-tab>
</mat-tab-group>