<mat-tab-group style="min-height: 80vh;">
    <mat-tab label="Vuelos">
        <div class="row x-gap-0">
            <div class="col-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Origen">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Destino">
                </mat-form-field>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Hoteles">

    </mat-tab>
</mat-tab-group>